.container {
display: grid;
grid-template-columns:200px 200px 200px;
/*grid-template-columns: 1fr 2fr 1fr;*/
/*grid-template-columns: repeat(3,minmax(150px, 1fr));*/
grid-template-rows: 100px 100px;
gap: 10px;
}

.container>div {
    font-family: 'Times New Roman', Times, serif;
border: 2px solid red;
border-radius: 5px;
background-color: black;
padding: 1em;
color: blue;
}

.item1 {
grid-column: 1 / 3; /*membentang dari kolom 1 sampai 3*/
}